@import "../css/reset.css";
@import "../css/skeleton.css";
@import "../css/superfish.css";
@import "../fonts/sans/fonts.css";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=cyrillic);
@import "../css/flexslider.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family:'PT Sans', Arial, Helvetica, sans-serif;
  font-size:13px;
  line-height:20px;
  color:#74156e;
  min-width:960px;
  background:#fff;
  -webkit-text-size-adjust: none;
}

/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}

.button{
  display:inline-block;
  padding:0 0 0 0;
  margin: 0 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.button:hover{
  background:;
  color:#000;
}
.reviews_link{
  font-size: 18px;
  text-decoration: underline;
  color: #bf36c7;
  left:0;
  display:block;
  padding-left: 30px;
}
.slogan_btn{
  background:url(../images/slogan_btn.png) 10px 0px no-repeat #73176e;
  border: 2px dashed #f762f7;
  border-radius: 20px;
  padding: 13px 2px 13px 55px;
  font-size: 23px;
  line-height: 24px;
  cursor: pointer;
  text-align: left;
}
.action_btn{
  font-size: 30px;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border:5px solid #9db72b; 
}
.action_btn:hover{
  color: #a9c62e;
 }
/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase;}
.f_left {float:left;}
.f_right {float:right;}
.al_right {text-align:right;}
.al_center {text-align:center;}
.al_left{ text-align: left;}
.it{font-style:italic;}
.bold{font-weight: 700;}
.let{letter-spacing:-1px;}
.main{width: 965px;margin: 0 auto;}
.main_flex{width: 1200px; margin: 0 auto;}
/*----------------------> Indents Zero <------------------*/

.m_bot_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.p_bot_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {overflow:hidden}
.f_elem *:first-child{margin-top: 0 !important;}
.f_elem1 *:first-child{margin-top: 0 !important;border: none !important;}
.bg_none{ background:none !important;}
/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_in-block{ display:inline-block;}

/*----------------------> Basic Colors <------------------*/
.white{color: #fff;}
.black{color: #1f2528;}
.pink{color: #fbeef6;}
.lightpink{color: #d271b2;}
.lightlilac{color: #a99cdf;}
.lilac{color: #ca3cd4;}
.purple{color:#74156e;}
.gray{color: #58595b;}
.green{background: #b0ce30;}
.orange{background: #ef8000;}
.violet{background: #e719b4;}
.lightgray{color: #939292;}
/*======================> Header <======================*/

header {}
h1 .logo{margin: 40px 0 0 20px;}
h1.logo a{
  display:block;
  background:url(../images/logo.png) 0 0 no-repeat;
  text-decoration:none;
  text-indent:-9999px;
}
.header_top{
 height: 110px;
}
.header_bottom{
  background:url(../images/header_bg.png) 50% 0 repeat-x;
}
.header_bottom .slogan_btn{
  top:52%;
  left: 42%;
  z-index: 2;
}
.offers_box{
  margin-right: -100px;
  padding-top: 70px;
  width: 670px;
  float: right;
}
.offers_box img{
  margin-top: -20px;
}
.offers_box figcaption{
  margin-left: 20px;
  text-align: left;
}
.header_btn{
  bottom: 23.5%;
  left: 50%;
  width: 60px;
  height: 28px;
  border: 2px solid #d3cfd1;
  border-radius: 10px;
  color: #751d6e;
  background: url(../images/header_arrow.png) 50% 50%  no-repeat #fff;
  font-size: 36px;
  text-align: center;
  cursor: pointer;
  margin-left: -30px;
}
.description_offers{
  margin:0 auto;
  padding-left: 45px;
}

.description_offers_item{
  font-size: 40px;
  line-height: 42px;
  padding-bottom: 8px;
}
.header_slogan{
  font-size: 30px;
  line-height: 45px;
  padding: 2px 2px 2px 4px;
  background: rgba(35, 1, 0, 0.5);
  display: inline;
  margin-top: -50px;
 
}
.header_slogan_logo{
  font-size: 60px;
  line-height: 60px;
  display: inline-block;
  padding:0 30px 0px 2px;
  background: rgba(35, 1, 0, 0.5);
  font-style: normal;
}
.header_symbol{
  font-size: 30px;
  top:-8px;
  right: 5px;
}
.phone_number{
  font-size: 36px;
  line-height: 38px;
  margin-top: 30px;
}
.hotline_number{
  font-size: 20px;
  line-height: 23px;
  margin-top: -5px;
}
/*=====================> Content ========================*/
#content {padding:0px 0px 0px 0px; min-height: 1500px;}
.cont_pad{padding:0 0 0 0 !important;}
.info_box_img{
  margin: 130px -85px 0 0;

}
.info_description{
  width: 940px;
  background:url(../images/info_bg.png)0 0 repeat; 
  border-radius:25px;
  padding-bottom: 10px;

}
.info_description:after{
  content: "";
  width: 961px;
  height: 65px;
  display: block;
  background: url(../images/info_figcaption_after.png) 0 0 no-repeat;
  left:-11px;
  bottom: -36px;
  position: absolute;
}
.info_text{
  padding: 50px 50px 30px 300px;
  font-size: 24px;
  line-height: 28px;
}
.info_description img{
  left:30px;
  top:-50px;
}
.info_figcaption{
  right: -10px;
  bottom: -30px;
  z-index: 1;
  padding: 10px;
  border-radius:25px; 
  background: #eddeec; /* Old browsers */
background: -webkit-gradient(linear, 0 0, 0 100%, from(#eddeec), to(#fefdfe));
background: -webkit-linear-gradient(#eddeec 0%, #fefdfe 100%);
background: -moz-linear-gradient(#eddeec 0%, #fefdfe 100%);
background: -o-linear-gradient(#eddeec 0%, #fefdfe 100%);
background: linear-gradient(#eddeec 0%, #fefdfe 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eddeec', endColorstr='#fefdfe',GradientType=0 ); 
  -webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);;
}
.step_down_link{
  width: 10px;
  height: 10px;
  background: url(../images/step_down_cross.png) 0 0 no-repeat;
  cursor: pointer;
 }
 .step_down-1, .step_down-2, .step_down-3{
  opacity: 0;
  display: block;
  height: auto;
  width: auto;
  z-index: 1;
  border: 1px solid #d6d7d8;
  border-radius: 10px;
  font-size: 16px;
  color: #a99cdf;
}
.step_down-1{
  top: 38px;
  left: 44px;
  bottom:-110px;
  right:-280px;
  background: url(../images/step_down1_1.png) 150px -10px no-repeat #fff;
}
 .step_down-2{
  top: 38px;
  left: 44px;
  bottom:-210px;
  right:-300px;
  background: url(../images/step_down2_1.png) 150px -10px no-repeat #fff;
}
 .step_down-3{
  top: 38px;
  left: 40px;
  bottom:-120px;
  right:-250px;
  background: url(../images/step_down3_1.png) 160px -10px no-repeat #fff;
}
 .step_down_text{
  font-size: 16px;
  line-height: 18px;
}
 .step_down-1 img{
  top:-5px;
  right:20px;
}
 .step_down-2 .step_down_img{
  top:-100px;
  right: 40px;
}
 .step_down-2 .step_down_title{
  padding: 60px 0 10px 0;
}
 .step_down-1 .step_down_title, .step_down-3 .step_down_title{
  padding: 30px 0 10px 0;
}
 .step_down-3 img{
  top:-30px;
  right:40px;
}
 .step_down_title{
  font-size: 18px;
  font-weight: 700;
  color:#b06eb0;
}
 .step_down_in{
  padding: 10px 15px 20px 25px;
  -webkit-box-shadow: inset 10 10 10 #eff0f4;
  -moz-box-shadow: inset 10 10 10 #eff0f4;
  box-shadow: inset 10 10 10 #eff0f4;
}
.step_down-1, .step_down-2, .step_down-3{
  opacity: 0;
  -webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 850ms ease;
 }
 .step_down-1:hover,
 .step_down-2:hover,
 .step_down-3:hover{
  opacity: 1;
  
}
.info_box div[class^="info_offers"]{
  z-index: 2;
}
.info_link{
  width: 190px;
  font-style: normal;
  font-size: 30px;
  line-height: 0.8em;
  padding: 16px 0 15px 35px;
  border-radius: 30px;
  display: inline-block;
  z-index: 2;
  position: relative;
}
.info_offers-1:hover .step_down-1, .info_offers-2:hover .step_down-2, .info_offers-3:hover .step_down-3{
  opacity: 1;
} 
.info_link:before{
  position: absolute;
  left:-30px;
  top:10px;
  width: 62px;
  height: 62px;
  display: block;
  z-index: 4;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
  padding-top: 10px;
}
.info_offers-1 .info_link:before{
  content: "1";
  background: url(../images/info1.png)  0 0px no-repeat;
}
.info_offers-2 .info_link:before{
  content: "2";
  background: url(../images/info2.png)  0px 0px no-repeat;
}
.info_offers-3 .info_link:before{
  content: "3";
  background: url(../images/info3.png)  0px 0px no-repeat;
}
.info_offers-1{
  top:50px;
  left:394px;
}
.info_offers-2{
  top:240px;
  left:220px;
}
.info_offers-3{
  top:430px;
  left:40px;
}
.info_offers-2:before, .info_offers-3:before{
  content: "";
  bottom: 67px;
  display: block;
  width: 163px;
  height: 176px;
  position: absolute;
  z-index: 5;
}
.info_offers-2:before{
  background: url(../images/info_step1.png) 0 0 no-repeat;
   left:0;
}
.info_offers-3:before{
  background: url(../images/info_step2.png) 0 0 no-repeat;
   left:-7px;
 }
  /*=====================> action ========================*/
.action_box{
  background: url(../images/action_bg.png) 0 0 repeat-x;
  padding-bottom: 136px;

}
.action_offers_title1{
  padding-bottom: 20px;
}
.action_offers_title3{
  padding-bottom: 10px;
}
 .action_box:before, .reviews:before, .reviews:after{
  content: "";
  position: absolute;
  display: block;
  left:0;
  width: 100%;
 }
.action_box:before{
  top: -9px;
  height: 9px;
  background: url(../images/bottom_stripe.png) 0 0 repeat-x;
 }
 .reviews:before{
  height: 8px;
  top: -8px;
  background: url(../images/reviews_stripe.png) 0 0 repeat-x;
  z-index: 2;
}
.reviews:after{
  background: url(../images/reviews_after_stripe.png) 0 0 repeat-x;
  height: 9px;
  bottom: -9px;
  z-index: 2;
}
.action_offers-1{
  width: 500px;
}
.action_offers-1, .action_offers-2, .action_offers-3, .action_offers-4, .action_offers-5, .action_offers-6{
  padding:90px 0 0 160px;
}
.action_offers-2{
  width: 475px;
}
.action_offers-3{
  width: 565px;
}
.action_offers-4{
  width: 570px;
}
.action_offers-5{
  width: 495px;
}
.action_offers-6{
  width: 528px;
}
.action_figure{
  margin:65px 0 0 147px;
}
.action_offers-4 .action_figure-4{
  margin: 65px 0 0 0;
}
.action_figure-4{
  padding-top: 130px;
}
.action_figure-4 img{
  max-width: 100%;
}
.action_figure figcaption{
  margin-top: 20px;
}
.action_offers_text, .action_offers_text-1, .action_offers-2 .action_offers_text-2{
   font-size: 21px;
   line-height: 22px;
}
.action_offers_text, .action_offers-2 .action_offers_text-1{
  padding-left: 20px;
}
.action_offers-2 .action_offers_text-3{
  font-size: 14px;
  line-height: 16px;
}
 /*=====================> plus ========================*/

 .plus{
  background: url(../images/plus_bg.png) 50% 0 repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-top: -140px;
  position: relative;
  left: 0;
  width: 100%;
}
.plus_title{
  font-size: 45px;
  line-height: 47px;
  padding-top: 75px;
  text-transform: uppercase;
}   
.plus_box{
  padding: 80px 0 50px 0;
}     
.plus_figure{
  width: 150px;
  display: inline-block;
  margin-left: 35px;
}
.plus_circle{
  width: 130px;
  height: 130px;
  border-radius:100%;
  top: 0;
  left:0;
  border: 5px solid #fbeef6;
  background: #fff;
}
.plus_circle img{
  top:20px;
  left:20px;
}
.plus_text{
  font-size: 24px;
  line-height: 24px;
  padding-top: 30px;
}
/*=====================> Scheme ========================*/
.scheme_link{
  font-size: 48px;
  line-height: 50px;
  padding: 50px 0 10px 0;
  border-bottom: 2px dashed #c095be;
  z-index: 2;
  background: url(../images/scheme_title.png) 0 0 no-repeat;
}
.scheme_container{
  margin-bottom: 35px;
  background: #fff;
}
.scheme_box{
  padding-left: 20px;
}
.scheme_img{
  float: right;
  margin-top: 30px;
}
.scheme_text_title, .scheme_text_type{
  padding-left: 20px;
}
.scheme_closed{
  background: url(../images/scheme_closed.png) 0 0 no-repeat;
  width: 31px;
  height: 31px;
  top:-50px;
  right: 0;
}
.scheme_list{
  font-size: 18px;
  line-height: 20px;
  padding: 10px 0 0 0;
  margin-bottom: 35px;
}
.scheme li[class^="scheme_item"]{
  padding: 0px 0 0px 15px;
  background: #fadff4;
  margin-bottom: 3px;
  border-radius: 25px;
  width: 66%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }
.scheme_item_first .scheme_text_color{
  width: 164px;
}
.scheme_text_middle{
  width: 68px;
}
.scheme li.scheme_item_last{
  width: 100%;
 }
.scheme_label{
  width: 193px;
  padding: 15px 0 0 10px;
}
.scheme_before:before{
  content: "";
  position: absolute;
  display: block;
  background: url(../images/scheme_text_bg.jpg) 50% 0 no-repeat;
  width: 108px;
  height: 50px;
  top:0;
  left: 150px;
}
 .scheme_text div[class*="scheme_text_color"]{
  background: #a99cdf;
  border-radius: 25px;
  border-left: 4px solid #fff;
  padding: 15px 0 15px 0;
}
.scheme_text{
  width: 404px;
}
.scheme_item_last .scheme_text{
  width: 350px;
}
.scheme_item_last div.scheme_label_last{
  width: 580px;
  padding-top: 15px;
}
.scheme_text_title{
  font-size: 20px;
}
.scheme_text_type{
  font-size: 18px;
  line-height: 30px;
}
/*=====================>Reviwes ========================*/
.reviews{
  background: url(../images/violet_pattern.jpg) 50% 50% repeat;
}
.reviews_figure{
  
  width: 230px;
  padding: 50px 0 55px 0;
  margin-left: 10px;
}
.reviews_title{
  padding: 19px 0 40px 0;
  font-size: 16px;
  line-height: 16px;
}
.reviews_text{
  font-size: 18px;
  line-height: 20px;
  padding: 0 0 10px 30px;
}
.reviews_text:before, .reviews_text:after{
  content: "";
  width: 14px;
  height: 10px;
  z-index: 10;
  position: relative;
  display: inline-block;
} 
.reviews_text:before{
  top:-5px;
  left:-5px;
  background: url(../images/quotes_before.png)0 0 no-repeat;
}
.reviews_text:after{
  bottom:0px;
  right:-10px;
  background: url(../images/quotes_after.png)0 0 no-repeat;
}
.footer_container{
  padding-top: 30px;
}
.footer_box{
  width: 208px;
  margin-left: 20px;
  padding-left: 10px;
}
.footer_link{
  padding-left: 10px;
  background: url(../images/footer_arrow.png) 0 7px no-repeat;
}
.footer_title{
  font-size: 16px;
  line-height: 16px;
  padding: 0 0 12px 10px;

}
/*=====================> Paragraphs ========================*/

p {margin-bottom:15px}
.p2{ margin-bottom:0;}
.p3{ margin-bottom:0;}
.p4{ margin-bottom:0;}
.p5{ margin-bottom:0;}
.p6{ margin-bottom:0;}


/*=====================> Lists ========================*/
.list1{}
.list1_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1_link{}

.list2{}
.list2_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2_link{}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}

/*=====================> Titles ========================*/
h2,h3,h4,h5,h6{
  font-weight:normal;
}
.title1{
  font-size: px;
  line-height: px;
  color:#;
}

.title2{
  font-size: 48px;
  line-height: 50px;
  font-style: italic;
}
.title3{
  font-size: 30px;
  line-height: 32px;

 }
.title4{
  font-size: 21px;
  line-height: 24px;
  font-style: italic;
}

.t_ind{ margin-bottom:px;}
.t_ind1{ margin-bottom:px;}
.t_ind2{ margin-bottom:px;}

/*================================>> GOOGLE FONTS  <<========================================*/
.sansn{
 font-family: 'PT Sans Narrow', sans-serif; 
}
.sansc{
font-family: 'PT Sans Caption', sans-serif;
}
/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
#contact-form textarea, #contact-form input[type="text"]{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contact-form input[type="text"]{
  width:347px;
}
#contact-form textarea {
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}
  
#contact-form label {
  display:inline-block;
  position: relative;
  min-height:45px;
  overflow:hidden;
 }
#contact-form label.message {
  display:block;
  padding-bottom:0;
}
#contact-form .button {
  margin-left:8px;
}
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
  width:74px;
}
.adress dt{ margin-bottom:14px;}

.demo{}
.demo:hover{ text-decoration:underline;}
/*
<dl class="adress">
  <dt><strong>8901 Marmora Road,<br>Glasgow, D04 89GR.</strong></dt>
  <dd><span>Freephone:</span>+1 800 559 6580</dd>
  <dd><span>Telephone:</span>+1 800 603 6035</dd>
  <dd><span>FAX:</span>+1 800 889 9898</dd>
  <dd>E-mail: <a href="#" class="demo">mail@demolink.org</a></dd>
</dl>
<div class="social">
	<a href="#" title="RSS"><img src="images/soc1.png" alt=""></a>
	<a href="#" title="Twitter"><img src="images/soc2.png" alt=""></a>
	<a href="#" title="Facebook"><img src="images/soc3.png" alt=""></a>
	<a href="#" title="Google +"><img src="images/soc4.png" alt=""></a>
</div>
*/

/*================================>> Footer <<========================================*/
footer {
  background: #e7e2e5;
  padding:22px 0 26px;
}
.social{
  overflow:hidden;
}
.social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
.social a:first-child{margin: 0 0 0 0;}
.social a:hover img{
  margin-top:-32px;
}